
.left-side {
    grid-area: ls;
    max-width:350px;
    /* padding-right: 0; */

    /* border: 2px solid red; */
}

.right-side {
    grid-area: rs;
    padding-left: 0;

    /* border: 2px solid black; */
}

/* 12 width * 8 height */
.grid-container{
    display: grid;
    height: 100vh;
    width: 100vw;
    /* grid-auto-rows: minmax(100px, auto); */
    grid-template-areas:
    'ls rs rs rs rs rs rs rs rs rs rs rs'
    'ls rs rs rs rs rs rs rs rs rs rs rs'
    'ls rs rs rs rs rs rs rs rs rs rs rs'
    'ls rs rs rs rs rs rs rs rs rs rs rs'
    'ls rs rs rs rs rs rs rs rs rs rs rs'
    'ls rs rs rs rs rs rs rs rs rs rs rs'
    'ls rs rs rs rs rs rs rs rs rs rs rs'
    'ls rs rs rs rs rs rs rs rs rs rs rs'
    'ls rs rs rs rs rs rs rs rs rs rs rs'

}