
.panel {
    grid-area: p;
    min-width: 350px;
    /* mapxx-width: 400 */
}

.map {
    grid-area: m;
    padding-left: 0;
    width: 1500px;
    max-width: 1500px;
    min-width: 400px;

}

.grid-container{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-areas:
    'p m m m m'
    'p m m m m'
    'p m m m m'
    'p m m m m'
    'p m m m m'
}

@media (max-width: 640px){
    .panel{
        grid-area: p;
        width: 100%;
        max-height: 350px;
        overflow: auto;
    }

    .map{
        grid-area: m;
        width: 100%;
        min-height: 200px;
    }


    .grid-container{
        grid-template-areas:
        'm m'
        'p p'
    }
}