
#map{
    /* max-width: 100%; */
    height: 100%;
    /* float: right; */
}

#place-input {
    width: 100%;
    height: 30px;
}

#place-input:focus {
    background-color: whitesmoke;
}

.route-info{
    padding-top: 10px;
    width: 100%;

    border: black 2px solid;
}

.route-info:hover{
    background-color: whitesmoke;
}