
#map{
    /* max-width: 100%; */
    height: 100%;
    /* float: right; */
}

.waypoint-input-0{
    display: none;
}

.waypoint-input-1{
    display: none;
}

.waypoint-input-2{
    display: none;
}

.waypoint-input-3{
    display: none;
}

.waypoint-input-4{
    display: none;
}

.waypoint-input-5{
    display: none;
}